unity/Assets/Casual Music Pack/*
unity/Assets/2D Hand Painted Tilesets/*
unity/Assets/HeroEditor4D/*
unity/Assets/Pixel Adventure 1/*
unity/Assets/2D Platformer Tileset/*
unity/Assets/COPY SPRIGHT/*

.DS_Store*